//
//  Debug.xcconfig
//  ATParseIncrementalStore Example iOS
//
//  Created by Aratech iOS on 31/1/18.
//  Copyright © 2018 Aratech. All rights reserved.
//

// Parse
PARSE_SERVER_URL = https:\/\/odrdev.aratech.org:1337/parse
PARSE_CLIENT_KEY = 7EF7F80274990A533EDB49F5AF5AD801621D4DD2EF398FB2AF6587263197DFFB
PARSE_APP_ID = odr.2018.ara-tech-ord
